/* FOR ABOUT US PAGE */

.about-us{
    margin-bottom: 35px;
}

.h4{
    text-align: center;
    text-decoration: underline;
    font-size: 22px !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    font-weight: 800 !important;
}

.p{
    margin-left: 10px;
    font-size: 14px !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}